* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    color: #212121;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1976D2;
    color: #F5F5F5;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #3993DD;
    color: #F5F5F5;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.1rem;
    width: 100%;
}

footer a {
    color: #F5F5F5;
    text-decoration: none;
    font-size: larger;
}

footer a:hover {
    color: #212121;
}

.material-symbols-outlined {
    vertical-align: middle;
}

.images-container {
    color: #F5F5F5;
    text-align: center;
    gap: 2rem;
    margin: 1.5rem 0;
    padding: 1.5rem;
    background-color: #683ECC;
    border-radius: 16px;
}

.images-container img {
    width: auto;
    height: 20rem;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.text-container {
    color: #212121;
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #F5F5F5;
    border-radius: 16px;
}

.two-images {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
